<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">About us.</h3>
                    <div class="col-lg-12 text-left">
                        <p class="text-muted">At VideoSilkRoad, we are a venture-backed Beijing-based start-up focused on video content & technology.</p>
                                        <p class="text-muted">Our mission is to help international video content owners to monetize from China market, particularly those who do not have a China operation already.</p>
                                        <p class="text-muted">Our strength is that we are familiar with the Chinese online video ecosystem . For example, Youtube is not accessible in China; the distribution is complicated as there are many Chinese Youtube clones , each of them is sizable but none achieve monopoly; language and regulation barrier, etc.</p>
                                        <p class="text-muted">Essentially, we are proposing to be your video content distribution partner in China,  and we could help you to promote brand recognition and achieve additional revenue out of this previously untapped market.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
