<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Service</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-language fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Translation</h4>
                    <p class="text-muted">AI-powered video translation through creating subtitle automatically, and then edited by human translator if necessary.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Upload</h4>
                    <p class="text-muted">China has multiple video sharing sites that’s similiar to Youtube, upload video to multiple video sharing sites in China.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bitcoin fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Monetization</h4>
                    <p class="text-muted">Collect payment based on video views from the video sharing site in China;  help to protect from copyright infringement by legal service.</p>
                </div>
            </div>
        </div>
    </section>
